* {
    box-sizing: border-box;
}

:root {
    --l: 128px;
    --f: 1;
}

body {
    height: 98vh;
    display: flex;
    flex-direction: column;
}

.controls {
    flex-grow: 0;
}

.plot {
    flex-grow: 1;
    position: relative;
    height: 100%;
    border: 2px solid tomato;
}

.plot .img {
    --i: 0;
    --j: 0;
    position: absolute;
    transform-origin: 0 0;
    top: 0;
    left: 0;
    height: var(--l);
    width: var(--l);
    background-image: url(sprite-sheet.png);
    background-position: calc(var(--i) * var(--l)) calc(var(--j) * var(--l));
    background-size: var(--l) no-repeat; /*72 x 20*/

    /*transform: scale(var(--f));*/
    transition: transform .5s;

    display: grid;
    place-content: center;

}

.plot .img::after {
    content : attr(data-label);
    font-size: calc(var(--l));
    opacity: 0;
    transition: opacity .5s;
}

.plot.no-img .img {
    background-image: none;
}

.plot.no-img .img::after {
    opacity: 1;
}